.registrationForm{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.confirmRegBtn{
    display: flex;
    margin: 5%;
    margin-left: 30%;
    margin-top: 10px;
    padding: 5%;
    color: black;
    font-family: "Times New Roman", Times, serif;
}

.confirmRegInput{
    padding: 6px 15px;
    margin: 2px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}